@model Cartel_Search_Products.Models.Product;
@{
    ViewData["Title"] = "Leave Review";
}
@if (Model == null)
{
    <div style="text-align: center; margin-top: 100px;">
        <img src="~/images/Cartel.png" width="150" height="150" />
    </div>
    <div style="padding: 15px; background-color: #F4E8C1; color: white; border: 2px solid #e5bf6b; border-radius: 5px; font-family: 'Times New Roman', Times, serif, sans-serif; font-size: 16px; text-align: center; width: 100%; margin-top: 50px; margin-bottom: 250px;">
        Please choose a valid product.
    </div>
}
else
{
    @if (User.Identity.IsAuthenticated) @* User is logged in *@
    {
        <div class="review-page"> <!-- Review Product -->
            <div class="review-page-img">
                <img src="@Url.Content($"~/{Model.image}")" alt="">
                <h3>@Model.productName</h3>
            </div>
            <div class="review-product">
                <h1>Leave a Review</h1>
                <p>Your review is really valuable. Thanks for leaving one!</p>
                <form action="@Url.Action("PostReview", "Product")" method="post">
                    <input type="hidden" name="productID" value="@Model.ProductID"> <!-- Hidden Input to Pass Product ID -->
                    <input type="hidden" name="companyName" value="@User.Identity.Name"> <!-- Hidden Input to Pass Company Name -->
                    <div class="rating">
                        <input type="radio" name="stars" id="r5" value="5"> <!-- 5th Star -->
                        <label for="r5"></label>
                        <input type="radio" name="stars" id="r4" value="4"> <!-- 4th Star -->
                        <label for="r4"></label>
                        <input type="radio" name="stars" id="r3" value="3"> <!-- 3rd Star -->
                        <label for="r3"></label>
                        <input type="radio" name="stars" id="r2" value="2"> <!-- 2nd Star -->
                        <label for="r2"></label>
                        <input type="radio" name="stars" id="r1" value="1"> <!-- 1st Star -->
                        <label for="r1"></label>
                    </div>
                    <div class="text-class"> <!-- Text Area for the review description -->
                        <textarea class="text-box" name="review" placeholder="Enter a message for us..."></textarea>
                    </div> <!-- End Text Area -->
                    <div class="buttons-after" style="display:flex; gap:35px;"> <!-- 2 buttons: Submit or Cancel -->
                        <button href="@Url.Action("Details", "Product", new {productid = Model.ProductID})" class="btn">
                            Cancel
                        </button>
                        <button type="submit" aria-label="Submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div> <!-- End Submit or Cancel -->
                </form>
            </div>
        </div> <!-- End Review Product -->
    }
}