@model Cartel_Search_Products.Models.ProductDetailsModel; // Custom model for product details
@{
    ViewData["Title"] = "Product Details";
}
@if (Model == null)
{
    <div style="text-align: center; margin-top: 100px;">
        <img src="~/images/Cartel.png" width="150" height="150"/>
    </div>
    <div style="padding: 15px; background-color: #F4E8C1; color: white; border: 2px solid #e5bf6b; border-radius: 5px; font-family: 'Times New Roman', Times, serif, sans-serif; font-size: 16px; text-align: center; width: 100%; margin-top: 50px; margin-bottom: 250px;">
        Please choose a valid product.
    </div>

}
else
{
    @if (TempData["Success"] != null)
    {
        <div class="successmessage" id="addedMessage" role="success">
            @TempData["Success"]
            <span style="margin-bottom: 5px; top: 0; cursor: pointer;" class="close" id="closeMessage">&times;</span>
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div id="addedMessage" class="errormessage">
            @TempData["Error"]
            <span style="margin-bottom: 5px; top: 0; cursor: pointer;" class="close" id="closeMessage">&times;</span>
        </div>
    }
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="@Url.Content($"~/{Model.Product.image}")" width="100%" />
            </div>
            <div class="col-2">
                <p>Home / @Model.Product.category</p>
                <h1>@Model.Product.productName</h1>
                <h3>by @Model.Product.supplier</h3>
                <h4>@Model.Product.price $</h4>
                <br />
                <h5>Stock: @Model.Product.stock</h5>
                @if (Model.Product.stock == 0)
                {
                    <h3 style="color: red; margin-top: 15px; margin-bottom: 15px;">
                        Out of Stock!
                    </h3>
                }
                else
                {
                    <form method="post" action="@Url.Action("AddToCart", "Cart")" style="display: flex;gap: 35px; margin-bottom: 15px;"> <!-- Add to Cart Form -->
                        <input type="number" id="quantity" name="quantity" value="1" min="1" max="@Model.Product.stock"
                               style="width: 60px; margin-right: 10px;" /> <!-- Input for Quantity -->
                        <input type="hidden" name="productId" value="@Model.Product.ProductID" /> <!-- Hidden Input for Product ID -->
                        <button type="submit" class="btn" style="cursor:pointer;">
                            <!-- Add to Cart Button -->
                            Add To Cart
                        </button>
                    </form>
                }
                <h3>Product Details <i class="fa fa-ident"></i></h3>
                <br />
                <p>@Model.Product.description</p>
            </div>
        </div>
    </div> 
    <div class="small-container reviews"> <!-- Reviews -->
        <div class="row row-2">
            <h2>Reviews</h2>
            @if (Model.Reviews.Count > 0 & Model.Reviews.Count > 3)
            {
                <div class="view-more">
                    <a href="@Url.Action("Reviews", "Product", new { productId = Model.Product.ProductID})">View More</a>
                </div>
            }
        </div>
        <div class="review-row">
            @if (Model.Reviews.Count > 0 & Model.Reviews.Count <= 3)
            {
                foreach (var review in Model.Reviews)
                {
                    <div class="review">
                        <img src="@Url.Content($"~/{review.companyImage}")" alt="User Image" class="review-img"/>
                        <div class="review-content">
                            <h3> @review.companyName </h3>
                            <div class="rating">
                                @for (int i = 0; i < review.stars; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = review.stars; i < 5; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <p> @review.review </p>
                        </div>
                    </div>
                }
            }
            else if (Model.Reviews.Count == 0)
            {
                <div style="display:flex; justify-content:center; align-items:center; width: 100%">
                    <h3 style="color: #111; text-align: center;">
                        There are no reviews yet for this product.
                    </h3>
                </div>
            }
            else if (Model.Reviews.Count > 3)
            {
                @for (int times = 0; times < 3; times++)
                {
                    <div class="review">
                        <img src="@Url.Content($"~/{Model.Reviews[times].companyImage}")" alt="User Image" class="review-img" />
                        <div class="review-content">
                            <h3> @Model.Reviews[times].companyName </h3>
                            <div class="rating">
                                @for (int i = 0; i < Model.Reviews[times].stars; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                                @for (int i = Model.Reviews[times].stars; i < 5; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <p> @Model.Reviews[times].review </p>
                        </div>
                    </div>
                }
            }
            @if (Model.Reviews.Count == 0)
            {
                <a href="@Url.Action("AddReview", "Product", new {productId = Model.Product.ProductID})" class="btn">Add the first review</a>
            }
            else
            {
                <a href="@Url.Action("AddReview", "Product", new {productId = Model.Product.ProductID})" class="btn">Add your own review</a>
            }
        </div>
    </div>
    <div class="small-container related-products"> <!-- Related Products -->
        <div class="row row-2">
            <h2>Related Products</h2>
            @if (Model.Related.Count > 0 & Model.Related.Count > 4)
            {
                <div class="view-more">
                    <a href="@Url.Action("Index", "Home", new {category = Model.Product.category})">View More</a>
                </div>
            }
        </div>
    </div>
    <div class="small-container">
        <div class="row">
            @if (Model.Related.Count > 0 & Model.Related.Count <= 4)
            {
                @foreach (var relatedProduct in Model.Related)
                {
                    <div class="col-4">
                        <img src="@Url.Content($"~/{relatedProduct.image}")" 
                        onclick="window.location.href='@Url.Action("Details", "Product", new { productId = relatedProduct.ProductID })'"
                        style="cursor:pointer;"
                        />
                        <h4>@relatedProduct.productName</h4>
                        <div class="rating">
                            @for (int i = 0; i < relatedProduct.rating; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int i = relatedProduct.rating; i < 5; i++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        </div>
                        <p>@relatedProduct.price $</p>
                    </div>
                }
            }
            else if (Model.Related.Count > 4)
            {
                @for (int times = 0; times < 4; times++)
                {
                    <div class="col-4">
                        <img src="@Url.Content($"~/{Model.Related[times].image}")"
                             onclick="window.location.href='@Url.Action("Details", "Product", new { productId = Model.Related[times].ProductID })'"
                             style="cursor:pointer;" />
                        <h4>@Model.Related[times].productName</h4>
                        <div class="rating">
                            @for (int i = 0; i < Model.Related[times].rating; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                            @for (int i = Model.Related[times].rating; i < 5; i++)
                            {
                                <i class="fa fa-star-o"></i>
                            }
                        </div>
                        <p> @Model.Related[times].price $</p>
                    </div>
                }
            }
        </div>
    </div>
    <script>
        const closeMessage = document.getElementById("closeMessage"); // Scripts for the Close Message
        closeMessage.onclick = function () {
            document.getElementById("addedMessage").style.display = "none";
        };
    </script>
}